body {
    font-size:0.875em ;
    font-family:"Free Sans",Helvetica,sans-serif;
    margin:0;
}

th {
    background: #a8a8a8;
}
tr {
    height: 28px;
    margin:0;padding:0;
}
tr:nth-child(odd)       { background-color:#eee; }
tr:nth-child(even)      { background-color:#fff; }
tr:hover {
    background-color: #afafaf;
}
td {
    border-bottom:1px solid;
    border-color: #afafaf;
}
table {
    border-spacing: 0;
    width:100%;
}

a {text-decoration:none;}
a:hover {text-decoration:underline;}

input {
	font-size: 14px;
	border: 1px solid #777;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 1px 0 rgba(255,255,255,0.3);
	border-radius: 4px;
	background-clip: padding-box;
} 


.statTable {
	font-size: 0.8em;
	table-layout: fixed;
}

.statTable tr{
	height: 18px;
}
.statTable td {
	border:0;
	text-align: right;
	border-right: 1px solid black;
	padding: 0.25em;
}
.statTable th {
    border-bottom: 1px solid #afafaf;
}

/*statuses*/
.green,.standard,.normal {
    background-color:#91B386;
}
.yellow,.urgent,.high {
    font-weight: bold;
    background-color:#F5E856;
}
.red,.emergency {
    font-weight: bold;
    background-color:#FA3939;
}

.status {
	font-size: 0.85em;
	padding: 1px 2px 3px;
	border-radius:4px;
}
a.status {
	color:black;
}
a.status:visited {
	color:gray;
}

.FeedbackReceived {background: #00FF88;}
.New, .Open {background: #33FF33;}
.Closedwithfeedback {background: #FFFFCC;}
.InProgress {background: #99FF99;}
.AlertReceived {background: #00F53D;}
.Unsolved {background: #99FF99;}
.NoFeedback {background: #99FF00;}
.WaitingQC {background: #008000;} 

.ticketTable th a {
	padding: 0.25em;
	display: block;
	border: 2px solid rgba(0,0,0,0);
}
.ticketTable tr {
        transition: background 0.08s ease-out;
}
.ticketTable td{height:1.5em;}

.ticketColumnId {width:7em;}
.ticketColumnAge{width:4em;}
.ticketColumnScore{width:4.5em;}
.ticketColumnAccount{width:15em;}
.ticketColumnStatus{width:13em;}
.ticketColumnTeam{width:6em;}
.ticketColumnPlatforms{width:3em;}

.ticketTable{table-layout: fixed;}

.onWatchIcon a {
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA5klEQVQ4je3QMUpDYRAE4O89QrB8RZAgkkotgmWwylHSeABFwdLW0iKITQS9gDewCAF7ETyBnaKghTZK1iKrPGJuoAM/PzPM7uwu/yjmhWAT2+ijk/I9rnFRcLewQVBhiCkesYvP5Es4zx/2C17qqSvBOOgHy8FbcBb0gkZwFHwEa+kZB+3v4mZwFXSTD7LBIHhOrQwegr3k3axplijRyHHruMR6jU/TK73lDw86wSTYCto5wXGOXwaHucJGeibB6vwRWzgxO84TDvCeyRVGmVhhp5h5fiMPdxrcBK/5blPrLSz64/gCMDxflvwHZToAAAAASUVORK5CYII=) no-repeat left center;
   padding-left:20px;
}
.os-linux {background-image:url(data:image/gif;base64,R0lGODlhEAAWAPQfAAQEBBUUFS8vLxkcI2NEFFBPT21ranRhR0M8NJp5U5huGt6kJ/rUGv/ONP/mGKiPa/CyUOSsY//GavvCSrmJGJGQjq6sqrSmlv/QjufSreLb0+3k2fj49u/s6NHPywAAACH5BAEKAB8ALAAAAAAQABYAAAXB4CeOhVEVY5oKVVsJqioYSFEMaCwaVmBVAYBOlLgcHpeCcKiAYBYLxFKnaFgZhGnsAIFmDADtCFDZZDKcnvgjEHg68M5GCRu1DZx8vtML1NluenodBQEDA4B4HYIcfEEBHzgWGhuLexseAwGQAQUWGxqUG6AaLwKQDwkFHqShGhkJAggCGBkYBG6juhIRDw9OGBgRAYpxEhASEg3IyQsXgh0QVg0MDFYTExEVFxcVBgvVDA7VDuUUKQTi5SnVOg4jIQA7);}
.os-windows {background-image: url(data:image/gif;base64,R0lGODlhEAAWAPQAAPQ4EfpgI+90WmyqM3rIMW+iSfSyFPySK+iWI4jPOP7IFP/SLoq0bOqhWvHLXZLVVidmxERouDOJ2HCv5l2h36ivm+C0krXNm9/Rpom656zL6fTm0dbk8/Lx7d3Zz////yH5BAEAAB8ALAAAAwAQABAAAAWR4Cd+G2Zh3aiO2HEEgJCuY+PCgeeN3dzdMMFlcMFgHhjRBghoMAaERIJwEVluAIClMJAmBjOL2CIIDKNTxkiTmVAyngpUShVx3hQJhONhoBkzdxl5EBgNGBeJSSITjXoRDQgGC5QOdhJujwgICpQKixqYhBWSnQsKOx8aGhwdd6QGpgapNBulpw4zNCQOvRa6IQA7);}
.os-windows,.os-linux{
	width:16px;height:22px;
	color:rgba(0,0,0,0);
	display:inline-block;
}

#search {
	width:6em;
	transition: width .25s ease-in-out;
}
#search:hover, #search:focus {
	width:16em;
}

/* http://cssarrowplease.com/ */
.arrow_box {
	position: relative;
	background: #505050;
	color: white;
	border: 2px solid  rgba(196, 0, 34, 255) !important;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(66, 66, 66, 0);
	border-top-color: #505050;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
.arrow_box:before {
	border-color: rgba(196, 0, 34, 0);
	border-top-color: #C40022;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}

.loading {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.hide{opacity: 0;}

.lastComment {
	background:#ccc;
	height:6em;
	overflow-y:scroll;
	resize:vertical;
	white-space: pre-wrap;
}