body {
    font-size:0.7em ;
    font-family:"Free Sans",Helvetica,sans-serif;
    margin:0;
}

th {
    background: #a8a8a8;
}

tr {
    height: 28px;
    margin:0;padding:0;
}
tr:nth-child(odd)       { background-color:#eee; }
tr:nth-child(even)      { background-color:#fff; }
tr:hover {
    background-color: #afafaf;
}

table {
    border-spacing: 0;
    width:100%;
}

td {
    border-bottom:1px solid;
    border-color: #afafaf;
}

td img {width:16px;}

a {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

.statTable {
	table-layout: fixed;
}

.statTable tr{
	height: 18px;
}
.statTable td {
	border:0;
	text-align: right;
	border-right: 1px solid black;
	padding: 0.25em;
}
.statTable th {
    border-bottom: 1px solid #afafaf;

}	

.green {
    /*color: white;*/
    background-color:#91B386;
}
.yellow {
    color:black;
    font-weight: bold;
    background-color:#F5E856;
}
.red {
    color:black;
    font-weight: bold;
    background-color:#FA3939;
}


.ticketTable th {
}

.ticketTable th a {
	padding: 0.25em;
	display: block;
	border: 2px solid rgba(0,0,0,0);
}
.ticketTable td{
    height:1.5em;
}

.ticketColumnId {
    width:7em;
}
.ticketColumnAge{
    width:4em;
}
.ticketColumnScore{
    width:4.5em;
}
.ticketColumnAccount{
    width:15em;
}
.ticketColumnStatus{
    width:13em;
}
.ticketColumnTeam{
    width:6em;
}
.ticketColumnPlatforms{
    width:6em;
}
.ticketTable{
	table-layout: fixed;
}

.onWatchIcon a {
   background:url('../images/eye-3-16.png') no-repeat left center;
   padding-left:20px;
}

.os-linux {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAEJGlDQ…DzdxQugLZagVyA8482MNvnuBjw9l0vNONfLwa+6j1H+j/gxmCDCAAu5wAAAABJRU5ErkJggg==)!important;}
.os-windows {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAWuElEQ…vqUhGZVNU9QFVEuiLyUJom7S2bN71hFevN9eZ6c/3DXv8P2PaNnlUzIMwAAAAASUVORK5CYII=)!important;}



input {
	font-size: 14px;
	border: 1px solid #777;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 1px 0 rgba(255,255,255,0.3);
	border-radius: 4px;
	-webkit-background-clip: padding-box;
} 

/* http://cssarrowplease.com/ */
.arrow_box {
	position: relative;
	background: #505050;
	color: white;
	border: 2px solid  rgba(196, 0, 34, 255) !important;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(66, 66, 66, 0);
	border-top-color: #505050;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
.arrow_box:before {
	border-color: rgba(196, 0, 34, 0);
	border-top-color: #C40022;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}

.loading {
    opacity: 100%;
    transition: opacity 1s ease-in-out;
}
.hide{
    opacity: 0;
}

