body {
    font:8pt helvetica;
    margin:0;
}

th {
    background: #a8a8a8;
    font-weight: bold;
    padding: 0 0.5em;
    border-bottom: 1px solid #afafaf;
}

tr {
    height: 28px;
    margin:0;padding:0;
}
tr:nth-child(odd)       { background-color:#eee; }
tr:nth-child(even)      { background-color:#fff; }
tr:hover {
    background-color: #afafaf;
}

table {
    border-spacing: 0;
    width:100%;
    /*margin-bottom:20px;*/
}

td {
    border-top:1px solid;
    border-color: #afafaf;
    margin:0;padding:0;
}

td img {width:16px;}

a {
    text-decoration:none;
    display:block;
}
a:hover {
    text-decoration:underline;
}

.statTable {
	table-layout: fixed;
}

.statTable tr{
	height: 18px;
}
.statTable td {
	text-align: right;
	border-right: 1px solid black;
	border-top: 0;
	padding: 0.25em;
}	

.green {
    /*color: white;*/
    background-color:#91B386;
}
.yellow {
    color:black;
    font-weight: bold;
    background-color:#F5E856;
}
.red {
    color:black;
    font-weight: bold;
    background-color:#FA3939;
}

.ticketColumnId {
    width:8em;
}
.ticketColumnStatus{
    width:13em;
}
.ticketColumnTeam{
    width:6em;
}
.ticketColumnScore{
    width:4.5em;
}
.ticketColumnAge{
    width:6em;
}
.ticketColumnPlatforms{
    width:6em;
}

.onWatchIcon a {
   background:url('../images/eye-3-16.png') no-repeat left center;
   padding-left:20px;
}

.os-linux {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAEJGlDQ…DzdxQugLZagVyA8482MNvnuBjw9l0vNONfLwa+6j1H+j/gxmCDCAAu5wAAAABJRU5ErkJggg==)!important;}
.os-windows {background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAWuElEQ…vqUhGZVNU9QFVEuiLyUJom7S2bN71hFevN9eZ6c/3DXv8P2PaNnlUzIMwAAAAASUVORK5CYII=)!important;}



input {
font-size: 14px;
border: 1px solid #777;
box-shadow: inset 0 1px 2px rgba(0,0,0,0.2),0 1px 1px 0 rgba(255,255,255,0.3);
border-radius: 4px;
-webkit-background-clip: padding-box;
} 

/* http://cssarrowplease.com/ */
.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 3px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #88b7d5;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #c2e1f5;
	border-width: 14px;
	left: 50%;
	margin-left: -14px;
}

.loading {
    opacity: 100%;
    transition: opacity 1s ease-in-out;
}
.hide{
    opacity: 0;
}

