<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Queue Highlights</title>
    <script type='text/javascript' src="angular.js"></script>
    <script src="angtable.js"></script>
    <script src="ctk/ctk.js"></script>
    <link rel="stylesheet" type="text/css" href="css/queueview.css">
</head>
<body>

<div ng-app="personalQueue">
<div ng-controller="Personal">
<span ng-bind="title">Queue Data</span>
<label for=ticketType>Type:</label><select id=ticketType ng-model="statusType" ng-change="changeRefresh()">
		<option value=4>Active</option>
		<option value=8>Open</option>
	</select>
<label for=timeout>Timeout (sec):</label><input id=timeout size=2 value="30" ng-model="refreshTime" ng-change="changeRefresh()">

<span ng-show="loading">Loading</span>

<table ng-init="loadData()">
    <tr>
        <th class="ticketColumnId">Tickets {{showingTickets.length}}</th>
        <th class="ticketColumnAge">Age</th>
        <th class="ticketColumnAccount">Account</th>
        <th>subject</th>
        <th class="ticketColumnTeam">Team</th>
        <th class="ticketColumnStatus">Status</th>
        <th class="ticketColumnPlatforms">OS</th>
    </tr>
    <tr ng-repeat="t in (showingTickets = (tickets))">
        <td><a target="_blank" href="https://core.rackspace.com/ticket/{{t.number}}">{{t.number}}</a></td>
        <td ng-bind="t.age"></td>
        <td><a target="_blank" href="https://core.rackspace.com/account/{{t.account_id}}">{{t.account}}</a></td>
        <td ng-bind="t.subject"></td>
        <td ng-bind="t.team"></td>
        <td ng-class="t.status | noSpaces">{{t.status}}</td>
        <td>
        <span ng-if="t.linux" class="os-linux">L</span>
        <span ng-if="t.windows" class="os-windows">W</span>  </td>

    </tr>
</table>

</div>
</div>

<div>Submit <a target="_blank" href="https://github.rackspace.com/aver4919/Highlight/issues">requests/issues</a> or <a href="mailto:avery.scott@rackspace.com?Subject=Highlight">Email me</a></div>

</body>
</html>
