<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Queue Highlights</title>
    <script type='text/javascript' src="angular.js"></script>
    <script src="angtable.js"></script>
    <script src="ctk/ctk.js"></script>
    <link rel="stylesheet" type="text/css" href="css/queueview.css">
</head>
<body>

<div ng-app="personalQueue">
<div ng-controller="Personal">
<span ng-bind="title">Queue Data</span>
<label for=ticketType>Type:</label><select id=ticketType ng-model="statusType" ng-change="changeRefresh()">
		<option value=4>Active</option>
		<option value=8>Open</option>
	</select>
<label for=timeout>Timeout (sec):</label><input id=timeout size=2 value="30" ng-model="refreshTime" ng-change="changeRefresh()">
<button ng-controller="Flash" ng-click="changeRefresh();flashScreen();">&#8623;</button>

<span ng-show="loading">Loading</span>

<table ng-init="loadData()" class=ticketTable>
    <col class="ticketColumnId">
    <col class="ticketColumnStatus">
    <col class="ticketColumnAccount">
    <col class="ticketColumnSubject">
    <col class="ticketColumnStatus">
    <col class="ticketColumnPlatforms">
    <tr>
        <th><a ng-click="sortBy = 'Ticket'; rev=!rev" 
            ng-class="{arrow_box: sortBy=='Ticket'}" 
            >Tickets {{showingTickets.length}}</a></th>
        <th><a ng-click="sortBy = 'Age'; rev=!rev" 
            ng-class="{arrow_box: sortBy=='Age'}" 
            >Age</a></th>
        <th><a ng-click="sortBy = 'account'; rev=!rev" 
            ng-class="{arrow_box: sortBy=='account'}" 
            >Account</a></th>
        <th><a ng-click="sortBy = 'subject'; rev=!rev"
            ng-class="{arrow_box: sortBy=='subject'}"
            >Subject</a></th>
        <th><a ng-click="sortBy = 'status'; rev=!rev" 
            ng-class="{arrow_box: sortBy=='status'}" 
            >Status</a></th>
        <th><a ng-click="sortBy = 'linux'; rev=!rev" 
            ng-class="{arrow_box: sortBy=='linux'}" 
            >OS</a></th>
    </tr>
    <tr ng-repeat="t in (showingTickets = (tickets|orderBy:getOrder():rev))">
        <td><a target="_blank" href="https://core.rackspace.com/ticket/{{t.number}}" class="status {{t.sev|lowercase}}">
            {{t.number}}</a></td>
        <td ng-bind="t.age"></td>
        <td><a target="_blank" href="https://core.rackspace.com/account/{{t.account_id}}">{{t.account}}</a></td>
        <td ng-bind="t.subject"></td>
        <td><span ng-class="t.status | noSpaces" class="status" ng-bind="t.status"></span></td>
        <td>
            <span ng-if="t.linux" class="os-linux">L</span>
            <span ng-if="t.windows" class="os-windows">W</span>
        </td>
    </tr>
</table>

</div>
</div>

<div>Submit <a target="_blank" href="https://github.rackspace.com/aver4919/Highlight/issues">requests/issues</a> or <a href="mailto:avery.scott@rackspace.com?Subject=Highlight">Email me</a></div>

</body>
</html>
