<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Queue Highlights</title>
    <script type='text/javascript' src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    <script type="text/javascript">

function historicSummary($scope,$http) {
    $scope.loadData = function() {
        var httpRequest = $http({
            method: 'GET',
            url: 'summaryLog.json'
        }).success(function(data){
		$scope.events = data;
	});
    };
}

    </script>
    <script src="angtable.js"></script>
    <link rel="stylesheet" type="text/css" href="css/queueview.css">

</head>
<body>
  <div ng-app="myApp">
<div ng-controller="historicSummary" ng-init="loadData()">
<label for=filter>Filter:</label><input id=filter ng-model=search>
	<table class="statTable" ng-repeat="e in events">
		<thead><tr><th ng-bind="e.timestamp*1000 | date:'MMM d h:mma'"></th><th ng-repeat="q in e.data |filter:search" ng-bind="q.shortName"></th></tr></thead>
		<tbody>
    <tr>
        <td>count</td>
        <td ng-repeat="q in e.data |filter:search" ng-class="q.latency|summaryColor">{{q.totalCount}}</td>
    </tr>
    <tr>
        <td>age</td>
        <td ng-repeat="q in e.data|filter:search" ng-class="q.latency|summaryColor">{{q.latency | timeCalc}}</td>
    </tr>
		</tbody>
	</table>

</div>
</body>
</html>
