
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Queue Highlights</title>
    <link rel="stylesheet" type="text/css" href="https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest/canon.min.css">
    <link rel="stylesheet" type="text/css" href="css/queueview.css">

    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="angtable.js"></script>

</head>
<body class=rs-responsive>
  <div class="rs-wrapper">

  <div class="rs-body">
  <div class="rs-inner">
    <div class="rs-container">
  <div ng-app="Highlight" >
<div ng-controller="Summary">
<a ng-show="hideSummary" ng-click="hideSummary = !hideSummary" alt="Hide summary cards">Show Summaries</a>
<table class="statTable" ng-if="!hideSummary">
    <tr>
        <th><a ng-click="$parent.hideSummary = !hideSummary" alt="Hide summary cards">Hide</a></th>
        <th ng-repeat="q in summaries" ng-bind="q.shortName"></th>
    </tr>
    <tr>
        <td>count</td>
        <td ng-repeat="queue in summaries" ng-class="queue.latency|summaryColor">{{queue.totalCount}}</td>
    </tr>
    <tr>
        <td><a href="https://wiki.rackspace.corp/Enterprise/tvdisplay" alt="Average latency of tickets">Age</a></td>
        <td ng-repeat="queue in summaries" ng-class="queue.latency|summaryColor">{{queue.latency | timeCalc}}</td>
    </tr>
</table>
</div>
<div ng-controller="Dynamic" id="queueTable" class="rs-content rs-panel">
    <div ng-show="!hideFilters">
        <!--<input type=button value="X" ng-click="hideFilters = !hideFilters;">-->
        <label for=queueList>Queue:</label>
        <select ng-init="getQueueList()" id=queueList ng-model="queueListSelect" ng-options="name for (name,shortname) in queueList">
            <option value='All'>All</option>
        </select>
        <label for=specialFilter>Filters:</label>
        <select ng-init="getFilterList()" id=specialFilter ng-model="filterListSelect" ng-options="filter.name for filter in filterList">
            <option value="">None</option>
        </select>
    	<span ng-repeat="parameter in filterListSelect.parameters">
    		<label for=filterOpt>{{ parameter.name }}</label><input id=filterOpt ng-model="parameter.value" ng-change="changeRefresh()">
    	</span>
        <input id=search ng-model=filterSearch placeholder="Local Filter">
        <label for=timeout>Refresh:</label><input id=timeout size=2 value="3" ng-model="queueRefreshTime">
        <button ng-controller="Flash" ng-click="changeRefresh();flashScreen();">&#8623;</button>
        <span ng-class="{hide:!gettingFeedback}" class=loading>Loading</span>
	<span style="background: red;">OneView, and thus Highlight no longer provides cloud tickets.  Alternatives: <a href="https://encore.rackspace.com">Encore</a>, <a href="http://rancore.res.rackspace.com/">RanCORE</a></span>
    </div>
    <div ng-bind="Object.keys(feedbacks)">test</div>
<table class="rs-list-table rs-select-table ticketTable">
    <col class="rs-table-status">
    <col ng-repeat="c in columns" class="ticketColumn{{c}}">

    <tr>
       <th class="rs-table-status"></th>
       <th ng-repeat="c in columns">
            <a ng-click="changeSort(c)" class="rs-table-sort "
                ng-class="{'rs-table-sort-desc': predicate==c&&reverse, 'rs-table-sort-asc': predicate==c}">
                <span class="rs-table-sort-text">{{c}}</span>
		<span ng-if="c == 'Tickets'">{{showing.Tickets.length}}</span>
		<span class="rs-table-sort-indicator"></span>
	    </a>
        </th>
    </tr>
    <tr ng-repeat="t in (showing.Tickets = (feedbacks |filter:{$:filterSearch} |orderBy:getOrder():reverse))">
        <td class="rs-table-status rs-table-status-ok" 
            ng-class='{ 
                "rs-table-status-warning": t.sev.toLowerCase()=="urgent",
                "rs-table-status-error ": t.sev.toLowerCase()=="emergency" }'></td>
        <td><a href="{{t.ticketUrl}}">{{t.ticket}}</a></td>
        <td ng-bind="t.age_seconds | timeCalc"></td>
        <td ng-bind="t.score"></td>
        <td><i ng-class="{ 'rs-icon-error-indicator': t.OnWatch==1}"></i>&nbsp;<a target="_blank" href="{{t.accountUrl}}">{{t.aname}}</a></td>
        <td>
            <a ng-click="getComment(t)" ng-class="{toggleOn: t.lastComment}" class="toggle" alt="Last comment">+</a>
            <a href="{{t.ticketUrl}}">{{t.subject}}</a>
            <pre ng-show="t.lastComment" class="lastComment " ng-bind="t.lastComment"></pre>
        </td>
        <td><span ng-bind="t.status" ng-class="t.status | noSpaces" class="rs-status"></span></td>
        <td>
            <span ng-if="t.linux" class="os-linux">L</span>
            <span ng-if="t.windows" class="os-windows">W</span>
        </td>
    </tr>
</table>
</div>

</body>
</html>
