
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Queue Highlights</title>
    <script type='text/javascript' src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    <script src="angtable.js"></script>
    <link rel="stylesheet" type="text/css" href="css/queueview.css">

</head>
<body>
  <div ng-app="myApp">
<div ng-controller="Summary" ng-init="loadData()">
<table class="statTable">
    <tr>
        <th>Time <a ng-click="loadQueues($scope.queues)">Reload</a></th>
        <th ng-repeat="q in summaries" ng-bind="q.shortName"></th>
    </tr>
    <tr>
        <td>count</td>
        <td ng-repeat="queue in summaries" ng-class="queue.latency|summaryColor">{{queue.totalCount}}</td>
    </tr>
    <tr>
        <td>age</td>
        <td ng-repeat="queue in summaries" ng-class="queue.latency|summaryColor">{{queue.latency | timeCalc}}</td>
    </tr>
</table>
</div>
<div ng-controller="Dynamic" id="queueTable">
    <div>
        <label for=queueList>Queue:</label>
        <select ng-init="getQueueList()" id=queueList ng-model="queueListSelect" ng-options="name for (name,shortname) in queueList" ng-change="changeRefresh()">
            <option value=''>Enterprise All</option>
        </select>
        <label for=specialFilter>Filters:</label>
        <select ng-init="getFilterList()" id=specialFilter ng-model="filterListSelect" ng-options="filter.name for filter in filterList" ng-change="changeRefresh()">
            <option value="">None</option>
        </select>
    	<span ng-repeat="parameter in filterListSelect.parameters">
    		<label for=filterOpt>{{ parameter.name }}</label><input id=filterOpt ng-model="parameter.value" ng-change="changeRefresh()">
    	</span>
        <label for=search>Search:</label><input id=search ng-model=filterSearch placeholder=Filter>
        <label for=timeout>Timeout:</label><input id=timeout size=2 value="3" ng-model="refreshTime" ng-change="changeRefresh()">
        <span ng-class="{hide:!gettingFeedback}" class=loading>Loading</span>

    </div>
<table ng-init="loadFeedback()">
    <tr>
        <th ng-click="predicate = 'ticket_link'; reverse=!reverse" 
            ng-class="{arrow_box: predicate=='ticket_link'}" 
            class="ticketColumnId">Ticket</th>
        <th ng-click="predicate = sortAge; reverse=!reverse"
            ng-class="{arrow_box: predicate==sortAge}" 
            class="ticketColumnAge">Age</th>
        <th ng-click="predicate = scoreSort; reverse=!reverse" 
            ng-class="{arrow_box: predicate==scoreSort}"
            class="ticketColumnScore">Score</th>
        <th ng-click="predicate = 'account'; reverse=!reverse" 
            ng-class="{arrow_box: predicate=='account'}"
            class="ticketColumnAccount">Account</th>
        <th ng-click="predicate = 'subject'; reverse=!reverse"
            ng-class="{arrow_box: predicate=='subject'}"
            class="ticketColumnSubject">Subject</th>
        <th ng-click="predicate = 'team'; reverse=!reverse"
            ng-class="{arrow_box: predicate=='team'}"
            class="ticketColumnTeam">Team</th>
        <th ng-click="predicate = 'status_'; reverse=!reverse"
            ng-class="{arrow_box: predicate=='status_'}"
            class="ticketColumnStatus">Status</th>
        <th ng-click="predicate = 'platforms'; reverse=!reverse"
            ng-class="{arrow_box: predicate=='platforms'}"
            class="ticketColumnPlatforms">Platforms</th>
    </tr>
    <tr ng-repeat="t in feedbacks |filter:filterSearch |orderBy:predicate:reverse">
        <td  ng-bind-html-unsafe="t.ticket_link"></td>
        <td  ng-bind="t.age"></td>
        <td ng-bind="t.score"></td>
        <td ng-bind-html-unsafe="t.account_link" ng-class="{ onWatchIcon: t.OnWatch==1}"></td>
        <td ng-bind="t.subject"></td>
        <td ng-bind="t.team"></td>
        <td ng-bind-html-unsafe="t.status_"></td>
        <td ng-bind-html-unsafe="t.platforms_"></td>
    </tr>
</table>
</div>

</body>
</html>
