
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Queue Highlights</title>
    <link rel="stylesheet" type="text/css" href="css/queueview.css">
    <script type='text/javascript' src="angular.js"></script>
    <script src="angtable.js"></script>
</head>
<body>
  <div ng-app="Highlight">
<div ng-controller="Summary">
<a ng-show="hideSummary" ng-click="hideSummary = !hideSummary" alt="Hide summary cards" style="background:#a8a8a8;float:right;">Show Summaries</a>
<table class="statTable" ng-if="!hideSummary">
    <tr>
        <th><a ng-click="$parent.hideSummary = !hideSummary" alt="Hide summary cards">Hide</a></th>
        <th ng-repeat="q in summaries" ng-bind="q.shortName"></th>
    </tr>
    <tr>
        <td>count</td>
        <td ng-repeat="queue in summaries" ng-class="queue.latency|summaryColor">{{queue.totalCount}}</td>
    </tr>
    <tr>
        <td><a href="https://wiki.rackspace.corp/Enterprise/tvdisplay" alt="Average latency of tickets">Age</a></td>
        <td ng-repeat="queue in summaries" ng-class="queue.latency|summaryColor">{{queue.latency | timeCalc}}</td>
    </tr>
</table>
</div>
<div ng-controller="Dynamic" id="queueTable">
    <div ng-show="!hideFilters">
        <!--<input type=button value="X" ng-click="hideFilters = !hideFilters;">-->
        <label for=queueList>Queue:</label>
        <select ng-init="getQueueList()" id=queueList ng-model="queueListSelect" ng-options="name for (name,shortname) in queueList">
            <option value='All'>All</option>
        </select>
        <label for=specialFilter>Filters:</label>
        <select ng-init="getFilterList()" id=specialFilter ng-model="filterListSelect" ng-options="filter.name for filter in filterList">
            <option value="">None</option>
        </select>
    	<span ng-repeat="parameter in filterListSelect.parameters">
    		<label for=filterOpt>{{ parameter.name }}</label><input id=filterOpt ng-model="parameter.value" ng-change="changeRefresh()">
    	</span>
        <input id=search ng-model=filterSearch placeholder="Local Filter">
        <label for=timeout>Refresh:</label><input id=timeout size=2 value="3" ng-model="queueRefreshTime">
        <button ng-click="changeRefresh();flashScreen();">&#8623;</button>
        <span ng-class="{hide:!gettingFeedback}" class=loading>Loading</span>
    </div>
<table class=ticketTable>
           <col class="ticketColumnId">
           <col class="ticketColumnAge">
           <col class="ticketColumnScore">
           <col class="ticketColumnAccount">
           <col class="ticketColumnSubject">
           <col class="ticketColumnTeam">
           <col class="ticketColumnStatus">
           <col class="ticketColumnPlatforms">
    <tr>
        <th><a ng-click="predicate = 'Ticket'; reverse=!reverse" 
            ng-class="{arrow_box: predicate=='Ticket'}" 
            >Tickets {{showingTickets.length }}</a></th>
        <th><a ng-click="predicate = 'Age'; reverse=!reverse"
            ng-class="{arrow_box: predicate=='Age'}" 
            >Age</a></th>
        <th><a ng-click="predicate = 'Score'; reverse=!reverse" 
            ng-class="{arrow_box: predicate=='Score'}"
            >Score</a></th>
        <th><a ng-click="predicate = 'aname'; reverse=!reverse" 
            ng-class="{arrow_box: predicate=='aname'}"
            >Account</a></th>
        <th><a ng-click="predicate = 'subject'; reverse=!reverse"
            ng-class="{arrow_box: predicate=='subject'}"
            >Subject</a></th>
        <th><a ng-click="predicate = 'team'; reverse=!reverse"
            ng-class="{arrow_box: predicate=='team'}"
            >Team</a></th>
        <th><a ng-click="predicate = 'status'; reverse=!reverse"
            ng-class="{arrow_box: predicate=='status'}"
            >Status</a></th>
        <th><a ng-click="predicate = 'Platform'; reverse=!reverse"
            ng-class="{arrow_box: predicate=='Platform'}"
            >OS</a></th>
    </tr>
    <tr ng-repeat="t in (showingTickets = (feedbacks |filter:filterSearch |orderBy:getOrder():reverse))">
        <td><a target="_blank" href="{{t.ticketUrl}}" class="status {{t.sev}}">{{t.ticket}}</a></td>
        <td ng-bind="t.age_seconds | timeCalc"></td>
        <td ng-bind="t.score"></td>
        <td ng-class="{ onWatchIcon: t.OnWatch==1}"><a target="_blank" href="{{t.accountUrl}}">{{t.aname}}</a></td>
        <td>
            <a ng-click="getComment(t)" ng-class="{red: t.lastComment}" class="message">+</a> {{t.subject}}
            <pre ng-show="t.lastComment" class="lastComment" ng-bind="t.lastComment"></pre>
        </td>
        <td ng-bind="t.team"></td>
        <td><span ng-bind="t.status" ng-class="t.status | noSpaces" class="status"></span></td>
        <td>
            <span ng-if="t.platform == 'linux' || t.platform == 'both'" class="os-linux">L</span>
            <span ng-if="t.platform == 'windows' || t.platform == 'both'" class="os-windows">W</span>
        </td>
    </tr>
</table>
</div>

</body>
</html>
